{% extends "layout.html" %}
{% block body %}
  <h1>Get Meta</h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post">
    <dl>
      <dt>UUID:
      <input type="text" id="uuid" name="uuid">
      <input type="submit" value="Submit" />
    </dl>
  </form>
{% endblock %}
