{% extends "layout.html" %}
{% block body %}
  <h1>App</h1>
  <p><a href="{{ url_for('view_upload') }}">Upload an image</a>
  <p><a href="{{ url_for('view_get_meta') }}">Get metadata with UUID</a>
  <p><a href="{{ url_for('view_query_meta') }}">Search with query</a>
{% endblock %}
