{% extends "layout.html" %}
{% block body %}
  <h1>Query</h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post">
    <dl>
      <dt>Key:
      <dd><input type="text" id="key" name="key"><br>
      <dt>Value:
      <dd><input type="text" id="value" name="value"><br>
      <dd><input type="submit" value="Submit" />
    </dl>
  </form>
{% endblock %}
