{% extends "layout.html" %}
{% block body %}
  <h1>Upload</h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" enctype="multipart/form-data">
    <dl>
      <dt>File select:
      <dd><input type="file" name="file" />
      <dd><input type="submit" value="Upload" />
    </dl>
  </form>
{% endblock %}
